@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background: #ecf0f1;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, a, p, li {
  color: #2c3e50;
  font-weight: normal;
}